*{
    margin: 0;
    padding: 0;
}

.container .media .indexMediaImg{
    width:14em; 
    height:10em;
}

.jumbotron-fluid{
    background-image: url(../images/MainRoom_panorama.jpeg);
    background-size: cover;
    background-position: center;    
}

.jumbotron-fluid .container-fluid{
    background-color: rgba(40, 167, 69, 0.8);
    color: white;    
}


#facilityReception, #facilitySideroom{
    width:auto; 
    height:20em;
}

#facilityMainroom{
    width:100%; 
    height:auto;
}


#googleMaps{
    width:90%;
}

#googleMaps iframe{
    display: block;
    width:90%;
}

/*footer{
    position: fixed;    
    bottom: 0;    
} */


@media only screen and (min-width: 770px){
    body #collapsibleNavbar ul{
        position: absolute;
        right: 3rem;
   }

   #googleMaps iframe{
    display: block;
    height: 50em;
    }
}

@media only screen and (min-width: 1470px){
    #facilityReception, #facilitySideroom{
        width:auto; 
        height:40em;
    }
}